<div class="container panel">
  <h2>Welcome to Voracious</h2>
  <h4>A social app for reading</h4>
  <div class="panel panel-primary">
    <div class="panel-heading">Important Info</div>
    <div class="panel-body">
      <p>
        The time is now: <%= Time.now %>
      </p>
    </div>
  </div>
    
</div>
