header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
.header-content-inner {
  background-color: rgba(207, 202, 202, 0.5);
  margin-right: 20%;
  margin-left: 20%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  font-size: 8vw;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 1;
}
header .header-content .header-content-inner h3 {
  opacity: 1;
}
header .header-content .header-content-inner .btn {
  opacity: 1;
}
.full-background {
  background: no-repeat center center fixed;
  background-size: cover; 
  z-index: -10;
  position: absolute;
  opacity: .8; 
  filter: alpha(opacity=20);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.homepage-signin {
  background: rgba(255,255,255,0.6);
}
.homepage-signup {
  background: rgba(255,255,255,0.6)
}
.homepage-signup .form-horizontal{
  margin-right: 20%;
  margin-left: 20%;
}
.homepage-signin .form-horizontal{
  margin-right: 20%;
  margin-left: 20%;
}
.homepage-signin .form-horizontal legend{
  font-weight: 600;
  padding-top: 2%;
}
.homepage-signup .form-horizontal legend{
  font-weight: 600;
  padding-top: 2%;
}
.homepage-signin .container{
  margin-top: 2%;
  margin-bottom: 2%;
}
.homepage-signup .container{
  margin-top: 2%;
  margin-bottom: 2%;
}
.homepage-signup .btn-primary{
  margin-left: 45%;
  margin-bottom: 2%;
}
.homepage-signin .btn-primary{
  margin-left: 45%;
  margin-bottom: 2%;
}
